// SECTION DIVIDER SVG

.custom-shape-divider-top-1679996204 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1679996204 svg {
    position: relative;
    display: block;
    width: calc(108% + 1.3px);
    height: 50px;
}

.custom-shape-divider-top-1679996204 .shape-fill {
    fill: #087E8B;
}
