<section class="preview-container">
    <div class="custom-shape-divider-top-1679996204">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>
    <div class="section-content">
        <h3 class="black-font">Students projects</h3>
        <p class="section-desc">This is the last project made by my students</p>
        <div 
            *ngIf="studentsProjects$ | async as studentsLastProject" 
            [ngStyle]="{ backgroundColor : studentsLastProject[0].bgColor }" 
            class="preview-project-card basic-flex"
            routerLink="/students"
        >
            <h4 [ngStyle]="{ color : studentsLastProject[0].fontColor }"> {{ studentsLastProject[0].title }} </h4>
            <img 
                *ngIf="studentsLastProject[0].images" 
                [src]="studentsLastProject[0].images[0]" 
                [alt]="studentsLastProject[0].title"
            />
            <p [ngStyle]="{ color : studentsLastProject[0].fontColor }"> {{ studentsLastProject[0].description }} </p>
        </div>
    </div>
</section>
