<section class="hero basic-flex">
    <div class="hero-content">
        <h2>Hi, I'm Ms Rambault, your English teacher !</h2>
        <div class="hero-presentation basic-flex">      
            <p>Welcome to my class ! Your go-to destination for exciting student projects, engaging lessons, and helpful resources for middle school students. Join us on this linguistic journey and let's explore the world of English together!</p>
            <img src="../../assets/images/avatar-bust.png" alt="avatar bubble" />
        </div>
    </div>
</section>